body {
  background-color: $grey_background;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;

  p {
    color: $black;
    font-size: 18px;
    line-height: normal;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: $white;
    font-size: 7.5rem;
    font-weight: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  }

  h2 {
    color: $white;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 0;
    text-align: center;
  }

  h3 {
    color: $black;
    font-size: 2.5rem;
    font-weight: normal;
    line-height: 50px;
    letter-spacing: -0.27px;
    margin: 0;
  }

  h4 {
    color: $black;
    font-size: 1.75rem;
    margin-bottom: 40px;
    margin-top: 0;
  }

  h6 {
    color: $black;
    font-size: 1.313rem;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
  }

  button {
    background-color: $button;
    border: none;
    box-shadow: 0px 6px 8px -4px $button_shadow;
    color: $button_color;
    cursor: pointer;
    font-size: 1.250em;
    padding: 10px;
    transition: all ease-in-out 0.25s;

    &:hover {
      background-color: $button_hover;
    }

    &:active {
      background-color: $button_active;
      box-shadow: 0px 6px 21px -4px $button_shadow;
    }
  }

  .padding-bottom-titles {
    padding-bottom: 50px;
  }

  .background-white {
    background-color: $white;
  }

  .background-gray {
    background-color: $grey;
  }

  .background-gray-dark {
    background-color: $grey_dark;
  }

  .only-desktop-view {
    display: none !important;
    @media (min-width: 767px) {
      display: block !important;
    }
  }

  .only-mobile-view {
    @media (min-width: 767px) {
      display: none !important;
    }
  }
}
