.section {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;

  .container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1128px;
    padding: 50px 16px;
    width: 100%;

    .content-column {
      display: flex;
      flex-wrap: wrap;
    }

    .col-2 {
      align-items: center;
      justify-content: center;
      width: 50%;
    }
  }
}
