$black: #3D3D3D;
$blue:#1423C1;
$bright_blue: #0000B4;
$button: #ACEFE7;
$button_color: #343434;
$button_active: #6EFFEE;
$button_hover: #6EFFEE;
$button_shadow: #9AF2E6;
$cyan: #6EFFEE;
$cyan_background: #E5F1F0;
$dark_blue: #000050;
$grey: #acaaaa;
$grey_dark: #363333;
$sky_blue: #B4F0FF;
$steel_blue: #3C64A5;
$white: white;
$yellow: #FFFFA0;
$grey_light: #f8f8f8;