$hopr_black: #292941;
$hopr_blue:#1423C1;
$hopr_bright_blue: #0000B4;
$hopr_dark_blue: #000050;
$hopr_grey: #414141;
$hopr_sky_blue: #B4F0FF;
$hopr_steel_blue: #3C64A5;
$hopr_white: white;
$hopr_yellow: #FFFFA0;
$hopr_cyan: #6EFFEE;
$hopr_cyan_background: #dffffb;