.accordion {
  .rc-collapse > .rc-collapse-item > .rc-collapse-header {
    color: black;
  }

  .rc-collapse {
    background-color: white;
  }

  .rc-collapse-content {
    background-color: rgb(241, 241, 241);
  }
}
