.footer {
  p,
  h6 {
    color: $white;
    font-size: 1em;
  }

  .social-networks {
    padding: 25px 0px 40px;
  }

  .second-line-footer {
    display: flex;
    justify-content: space-between !important;
    margin: 0;
    

    a {
      text-decoration: none;
      p {
        font-size: 1em;
      }
    }

    h6 {
      color: $white;
    }

    .emails {
      a,
      p {
        color: $cyan;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
