.footer {
  p,
  h6 {
    color: $white;
    font-size: 1em;
  }

  p {
    width: 100% !important;
  }

  .logo-text-animated {
    a {
      display: flex;
      margin: 0;
      text-decoration: none;

      .cursor-animated {
        color: $cyan;
        text-shadow: $cyan 0 0 35px;
      }

      h2 {
        font-family: 'myne regular';
        font-size: 150px;
        margin: 0;
      }
    }
  }

  .content-column {
    justify-content: left !important;
    a {
      text-decoration: none;
      p {
        font-size: 1em;
      }
    }

    h6 {
      color: $white;
    }

    .emails {
      a,
      p {
        color: $cyan;
      }

      a {
        text-decoration-thickness: 1px !important;
        text-decoration: underline;
      }
    }
  }

  .second-row-footer {
    align-items: flex-start !important;
  }

  .padding-top-aux {
    padding-top: 20px;

    .footer-follow-us {
      padding-bottom: 50px;
    }
  }

  .hopr-association {
    p {
      display: inline;
      margin: 0;
    }
    a {
      p {
        color: $cyan;
        text-decoration-thickness: 1px !important;
        text-decoration: underline;
      }
    }
  }

  .second-row-footer-elements {
    width: 48% !important;
  }

  @media screen and (max-width: 767px) {
    .second-row-footer-elements {
      width: 48% !important;
    }
    .third-row-footer{
      padding-top: 25px;
    }
  }
}
