.footer {
  h6 {
    color: $white;
  }

  p {
    color: $white;
    font-size: 13px;
  }

  .second-line-footer {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
      p {
        font-size: 1em;
      }
    }

    h6 {
      color: $white;
    }

    .emails {
      a,
      p {
        color: $cyan;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
