.how-does-work {
  position: relative;
  .image-hopr {
    background-color: $bright_blue;
    display: flex;
    justify-content: center;

    img {
      padding: 10px 0 10px !important;
    }
  }

  .col-2 {
    a {
      color: $button_shadow;
      p {
        color: $button_shadow;
      }
    }
  }

  .how-does-work-information{
    padding-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    .container {
      .col-2 {
        .title-apps-how-does-work {
          padding: 25px 0px;
        }
      }

    }
  }
}
